name: Build and Release

on:
  push:
    tags:
      - "v*"  # Triggers on tags like v1.0, v2.3.4
  workflow_dispatch:  # Allows manual triggering from GitHub UI

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Pillow tkinterdnd2 pyinstaller

      - name: Build Executable
        # --collect-all tkinterdnd2 is crucial for the drag-and-drop library to work in the exe
        run: |
          pyinstaller --noconfirm --onefile --windowed --name "Battlezone Mod Engine" --icon "modman.ico" --add-data "modman.ico;." --add-data "BZONE.ttf;." --add-data "BGM.ttf;." --add-data "bz98.png;." --add-data "bz2.png;." --collect-all tkinterdnd2 cmd.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Battlezone Mod Engine
          path: dist/Battlezone Mod Engine.exe

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: dist/Battlezone Mod Engine.exe
          generate_release_notes: true